{% extends "base_generic.html" %}

{% block title %}
    <title>{{ author.first_name }} {{ author.last_name }} information || Mwesi Library</title>
{% endblock  %}

{% block content %}
    <br>
    <h5>Author: {{ author.first_name }} {{ author.last_name}} </h5>
    <p>Born: {{ author.date_of_birth }} </p>

    {% if author.date_of_death %} 
        <p>Dead: {{ author.date_of_death }} </p>
    {% endif %}

    <h5>Books</h5>
    {% if author.book_set.exists %}
        {% for author_book in author.book_set.all %}
            <p> <a href="{{ author_book.get_absolute_url }}">{{ author_book.title }} </a> </p>
            <p> {{author_book.summary }} </p>
        {% endfor %}
    {% else %}
        <p>Author has no books in store </p>
    {% endif %}
{% endblock  %}

{% block sidebar %}
    {{ block.super }}

    {% if perms.catalog.change_author or perms.catalog.delete_author %}
        <hr>
        <ul class="sidebar-nav">
            {% if perms.catalog.change_author %}
                <p><a href="{% url "author-update" author.id %}">Update author</a>
            {% endif %}

            {% if not author.book_set.all and perms.catalog.delete_author %}
                    <p><a href="{% url "author-delete" author.id %}">Delete author</a>
            {% endif %}
            
        </ul>
    
    {% endif %}
{% endblock  %}

